body {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ################### BOARD #####################

#game-board {
  min-height: 95vh;
  width: 95vw;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "opponent-area opponent-dice"
    "player-area player-dice";
}

#game-area,
#game-dice {
  height: 100%;
  width: 100%;

  border: 1px dotted white;
}

.opponent-area {
  grid-area: "opponent-area"
}

.opponent-dice {
  grid-area: "opponent-dice"
}

.player-area {
  grid-area: "player-area"
}

.player-dice {
  grid-area: "player-dice"
}

// ################### DICE #####################
#dice-play-area {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dice {
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;

    &:hover {
      color: darken(white, 20%);
      cursor: pointer;
    }
  }
}